/* responsive.css */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 95%;
    }

    .left, .right {
        width: 100%;
        padding: 15px;
    }

    textarea {
        height: 100px;
    }

    .buttons {
        flex-direction: column;
        gap: 5px;
    }

    .first-back img {
        max-width: 150px;
    }
}
